<div id="footer" th:fragment="footer">
    <div class="ui container">
        <div class="ui stackable two columns grid">
            <div class="column">
                <div class="ui two columns grid">
                    <div class="column">
                        <h3>项目介绍</h3>
                        在线考试系统是一个在线测试学习系统，并用于辅助课程教学和学生学习。
                    </div>
                    <div class="column">
                        <h3>联系我们</h3>
                        如有问题请联系我们
                    </div>
                </div>
            </div>
            <div class="right aligned column">
                &copy; 2020 在线考试系统. All Rights Reserved &nbsp;&nbsp;
                <br />
                服务器时间：<span id="current_server_timer"></span>
            </div>
        </div>
    </div>
</div>