<div class="five wide column" th:fragment="links">
    <div class="ui segment">
        <div class="ui dividing header">
            <i class="world icon"></i>传送门
        </div>
        <div class="ui four images">
            <a data-inverted="" data-tooltip="ACM" data-position="top center" class="image" target="_blank" onclick="this.blur();" th:href="@{http://acm.gdufe.edu.cn/}">
                <img border="0" alt="" width="63" height="63" th:src="@{'/upload/images/acm.png'}" />
            </a>
            <a data-inverted="" data-tooltip="信息门户" data-position="top center" class="image" target="_blank" onclick="this.blur();" th:href="@{http://my.gdufe.edu.cn/}">
                <img border="0" alt="" width="63" height="63" th:src="@{'/upload/images/xinximenhu.png'}" />
            </a>
            <a data-inverted="" data-tooltip="教务系统" data-position="top center" class="image" target="_blank" onclick="this.blur();" th:href="@{http://jwxt.gdufe.edu.cn/jsxsd/}">
                <img border="0" alt="" width="63" height="63" th:src="@{'/upload/images/kaowu.png'}" />
            </a>
            <a data-inverted="" data-tooltip="Blackboard" data-position="top center" class="image" target="_blank" onclick="this.blur();" th:href="@{http://bb.gdufe.edu.cn}">
                <img border="0" alt="" width="63" height="63" th:src="@{'/upload/images/blackboard.png'}" />
            </a>
            <a data-inverted="" data-tooltip="学工服务" data-position="top center" class="image" target="_blank" onclick="this.blur();" th:href="@{http://xg.gdufe.edu.cn/epstar/web/swms/mainframe/homeWithGroupSelector.jsp}">
                <img border="0" alt="" width="63" height="63" th:src="@{'/upload/images/xuegong.png'}" />
            </a>
            <a data-inverted="" data-tooltip="素拓系统" data-position="top center" class="image" target="_blank" onclick="this.blur();" th:href="@{http://sztz.gdufe.edu.cn/sztz/Login}">
                <img border="0" alt="" width="63" height="63" th:src="@{'/upload/images/sutuo.png'}" />
            </a>
            <a data-inverted="" data-tooltip="宿舍服务" data-position="top center" class="image" target="_blank" onclick="this.blur();" th:href="@{http://ssgl.gdufe.edu.cn/epstar/web/swms/mainframe/homeWithGroupSelector.jsp}">
                <img border="0" alt="" width="63" height="63" th:src="@{'/upload/images/sushe.png'}" />
            </a>
            <a data-inverted="" data-tooltip="学费查询" data-position="top center" class="image" target="_blank" onclick="this.blur();" th:href="@{http://cw.gdufe.edu.cn/KfWeb/LoginInterface.aspx}">
                <img border="0" alt="" width="63" height="63" th:src="@{'/upload/images/xuefei.png'}" />
            </a>
            <a data-inverted="" data-tooltip="离校服务" data-position="top center" class="image" target="_blank" onclick="this.blur();" th:href="@{http://lx.gdufe.edu.cn/}">
                <img border="0" alt="" width="63" height="63" th:src="@{'/upload/images/lixiao.png'}" />
            </a>
            <a data-inverted="" data-tooltip="一卡通" data-position="top center" class="image" target="_blank" onclick="this.blur();" th:href="@{http://cardinfo.gdufe.edu.cn/gdcjportalHome.action}">
                <img border="0" alt="" width="63" height="63" th:src="@{'/upload/images/chaxun.png'}" />
            </a>
            <a data-inverted="" data-tooltip="图书馆系统" data-position="top center" class="image" target="_blank" onclick="this.blur();" th:href="@{http://opac.library.gdufe.edu.cn/reader/redr_info.php}">
                <img border="0" alt="" width="63" height="63" th:src="@{'/upload/images/tushuguan.png'}" />
            </a>
        </div>
    </div>
</div>